<div class="w3-round-large w3-card w3-margin">
    <div class="w3-round-large w3-bar w3-blue">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <div class="w3-dropdown-hover">
            <a class='re-btn re-delay' href="{{ .URL }}"{{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
            {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
            </a>
            <div class="w3-dropdown-content w3-bar-block re-card re-delay">
                {{ range .Children }}
                <a class='w3-bar-item w3-btn re-delay' href="{{ .URL }}"{{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
                {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                </a>
                {{ end }}
            </div>
        </div>
        {{ else }}
        <div class='re-btn re-delay'{{ if $currentPage.HasMenuCurrent "main" . }} disabled{{ end }}>
        <a href="{{ .URL }}">
            {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
        </a>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
