<!-- Feather, jQuery, TypeIt -->
<script src="/js/feather.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/typeit.min.js"></script>
<!-- Init Feather -->
<script>feather.replace({width: '1em', height: '1em'})</script>
