/* respond.scss - Respond theme specific CSS */

@use "w3.css";
//@import "w3.css";

* {
    @extend .w3-mobile;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.re-delay {
    transition: 0.5s;
}

.re-card {
    @extend .w3-card;
}

.re-border {
    @extend .w3-border;
}

.re-round {
    @extend .w3-round-large;
}

.re-btn {
    @extend .w3-btn;
    @extend .re-delay;
}

.re-tag {
    @extend .w3-tag;
    @extend .re-round;
    margin: 0.3em;
}
